.DS_Store
node_modules
/dist
/src/api/**/*.js
/src/utils/**/*.js
/src/filters/**/*.js
/src/assets/js/common.js
/src/alert-vue-plug/**/*.js
/src/data/**/*.js
/src/components/Mixins//ContentTable.js
/src/vuex/modules/layout.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
